/* Page-Wide */
* {
  font-family: 'Merriweather', serif;
}
body {
  background-color: rgb(147, 12, 76);
}
p, a {
  margin-bottom: 2em;
  text-decoration: none;
  color: inherit;
}


/* Separate Text From Page Background for Legibility */
.text-container {
  background-color: #FFFFFF;
  padding: 4em;
  margin: 3em;
}


/* Title Content */
#title {
  text-align: right;
  margin-bottom: 5em;
}
#title h1 {
  font-size: 3em;
  letter-spacing: 3px;
  margin-bottom: 0em;
  color: rgb(11, 44, 126);
}
#title h1::first-letter {
  font-size: 2.5em;
  vertical-align: middle;
}
#title h2 {
  text-transform: uppercase;
  font-size: 1.3em;
  margin-top: -2.8em;
  color: rgb(147, 12, 76);
}
#title p {
  font-style: italic;
}

/* Paragraph Content */
.content {
  font-size: 1.25em;
  text-indent: 1.5em;
  line-height: 1.45em;
  font-weight: 400;
}
.content p:first-child {
  text-indent: 0;
}
.content p:first-of-type:first-letter {
  font-family: 'Meddon', cursive;
  font-size: 4em;
  letter-spacing: 10px;
  font-weight: 700;
  color: rgb(11, 44, 126);
}


/* Specific Instances */
.spoken {
  font-style: italic;
}
#first-offer .spoken {
  font-weight: 700;
  color: rgb(147, 12, 76);
}


/* Decorative Line Divider */
.divider {
  border-bottom: 3px solid rgb(255,200,80);
  width: 20%;
  margin: 4em auto;
}


/* "Read More!" Button */
#button-container {
  width: 15em;
  height: 4em;
  margin: auto;
}
.button p {
  font-size: 1.25em;
  text-align: center;
  color: #FFFFFF;
}
.button p:active {
  color: rgb(255,200,80);
}
.button {
  height: 100%;
  background-color: rgb(11, 44, 126);
  border-color: #8f8b8b #383636 #383636 #8f8b8b;
  border-width: 6px 10px 10px 6px;
  border-style: solid;
}
.button:hover {
  background-image: url('../images/sparkles.png');
  background-size: 40px 40px;
  background-repeat: no-repeat;
}
.button:active {
  background-color: rgb(6,26,75);
  border-color: #383636 #8f8b8b #8f8b8b #383636;
  border-width: 10px 6px 6px 10px;
}
