/* -----------------
|   ELEMENT STYLE   |
 ----------------- */
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700');

/* Remove default browser margins for page: */
body {
  background-color: #FFF;
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 1.25em;
}
a {
  text-decoration: none;
}


/* ---------------
|   THE SIDEBAR   |
 --------------- */
.sidebar {
  background-color: #000;
  /* Total Width 300px (200px wide + 50px left + 50px right = 300px): */
    width: 200px;
    padding: 50px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

/* (Home) Logo with border change on hover: */
.site-logo {
  background-color: transparent;
  /* Draw a circle: */
    width: 150px;
    height: 150px;
    border-radius: 100px;
  /* Set margins top-center-bottom: */
    margin: 0px auto 50px;
}
.site-logo:hover {
  background-color: #999;
}
.site-logo #logo {
  width: 140px;
  height: 140px;
  /* Set margins (140px parent - 140px image = 10px ÷ 2 = 5px left, 5px right): */
    margin: 5px;
}

/* Site Links with indent change on hover: */
#site-navigation a {
  color: #FFF;
  display: block;
  margin: 0.5em 0;
}
#site-navigation a:hover {
  text-indent: 0.5em;
}

/* Social media icons with color change on hover: */
#social-links {
  background-color: inherit;
  width: inherit;
  /* Inherit positioning so it will set with parent sizing: */
  position: inherit;
  bottom: 20px;
}
#social-links img {
  background-color: #999;
  width: 25%;
  height: auto;
  float: left;
}
#social-links img:hover {
  background-color: #FFF;
}


 /* ---------------------
 |   MAIN CONTENT AREA   |
  --------------------- */
.main-content {
  border-color: inherit;
  /* To be next to it, left margin must be at least width of fixed-sidebar: */
    margin-left: 300px;
  padding: 50px;
}

/* Large image or site banner: */
.banner img {
  width: 100%;
  height: auto;
}

/* Row of gallery items: */
.gallery {
  margin: 50px 0;
  display: block;
}
.column {
  background-color: #FFF;
  width: 30%;
  border: 1px solid #000;
  margin-right: 4.5%;
  float: left;
}
.column:last-of-type {
  margin-right: 0px;
}
.gallery-item {
  padding: 20px;
}
.gallery-item img {
  width: 100%;
}
.gallery-item a {
  font-size: 85%;
}

/* "Read More!" Link */
.load-more {
  background-color: #333;
  width: 50%;
  position: relative;
  text-align: center;
  margin: auto;
  top: 20px;
  margin-bottom: 70px;
  clear: left;
  padding: 10px;
  text-transform: uppercase;
}
.load-more a {
  color: #FFF;
}
