/* -------------------
|   PAGE-WIDE STYLE   |
 ------------------- */
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700');


body {
  margin: 0; /* Removes default browser margins for page */
  font-family: 'Lato', sans-serif;
  font-size: 1.25em;
}
a {
  text-decoration: none;
}


/* --------------------
|   NAVIGATION STYLE   |
 -------------------- */



/* ----------------------
|   MAIN CONTENT STYLE   |
 ---------------------- */
