/* -------------------
|   PAGE-WIDE STYLE   |
 ------------------- */
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700');

html {
  background-color: #999;
}

body {
  background-color: #FFF;
  width: 600px;
  height: 600px;

  position: relative;
  margin: 3em auto;

  border: 20px double #000;
  border-top-left-radius: 300px;
  border-bottom-left-radius: 300px;

  font-family: 'Lato', sans-serif;
  font-size: 1.25em;
}



/* --------------------
|   NAVIGATION STYLE   |
 -------------------- */
 .navigation {
   background-color: transparent;
   width: 300px;
   height: 100%;

   position: absolute;
   top: 0;
   left: 0;
 }
 .navigation a {
   color: #FFF;
   text-decoration: none;
 }

 /* Logo and title */
 .logo {
   background-color: #FFF;
   width: 150px;
   height: 150px;

   position: absolute;
   top: 205px; /* height of container (300) - half of logo height (75px) - logo border (20) = 205px */
   left: -95px; /* -(half of logo width (75) + logo border (20)) */

   border: 20px double #000;
   border-radius: 100%;

   line-height: 150px; /* Centers text vertically in div of same height */
   color: #000;
   text-transform: uppercase;
   font-size: 150%;
   text-align: center;
 }
 .logo:hover {
   border-style: solid;
}

.site-links a {
  background-color: #000;
  width: 50px;
  height: 50px;
  overflow: hidden;

  display: inline-block;

  border-radius: 50px;

  color: #000;
  line-height: 50px; /* Centers text vertically in div of same height */
}
.site-links a:nth-of-type(1) {
   position: absolute;
   top: 60px;
   left: 40px;
}
.site-links a:nth-of-type(2) {
   position: absolute;
   top: 125px;
   left: -5px;
}
.site-links a:nth-of-type(3) {
   position: absolute;
   bottom: 125px;
   left: -5px;
}
.site-links a:nth-of-type(4) {
   position: absolute;
   bottom: 60px;
   left: 40px;
}
.site-links a:hover, .site-links .active {
  background-color: #000;
  min-width: 4em;

  padding: 0 50px;

  border-radius: 0;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;

  color: #FFF;
}

/* Optional: links to social accounts */
.social-links {
  background-color: transparent;
  height: 170px; /* Height of logo + border */

  margin-top: 215px;
  margin-left: 90px;

  position: relative;
}
.social-links a {
  background-color: #777;
  width: 21px;
  height: 21px;
  overflow: hidden;

  display: inline-block;

  border: 8px solid #000;
  border-radius: 100%;
}
.social-links a:nth-of-type(1) {
   position: absolute;
   top: 0px;
   left: -5px;
}
.social-links a:nth-of-type(2) {
   position: absolute;
   top: 43px;
   left: 15px;
}
.social-links a:nth-of-type(3) {
   position: absolute;
   bottom: 43px;
   left: 15px;
}
.social-links a:nth-of-type(4) {
   position: absolute;
   bottom: 0px;
   left: -5px;
}
.social-links a:hover {
  border-style: double;
  background-color: #FFF;
}



/* ----------------------
|   MAIN CONTENT STYLE   |
 ---------------------- */
.main {
  background-color: #FFF;
  width: 300px;
  height: 100%;
  overflow-y: scroll; /* Content vertically scrolls */

  position: absolute;
  top: 0;
  right: 0;

  padding: 0 15px 0 5px;

  z-index: 1;
}
.banner {
  width: 100%;
  height: auto;
}
