/* Page-Wide */
@import url('https://fonts.googleapis.com/css?family=Comfortaa|Fascinate+Inline');
body {
  background: white;
  padding: 20px;
}

/* Canvas */
#canvas {
  width: 500px;
  height: 600px;
  background-color: black;
  border: 25px solid black;
  position: relative;
}
/* For fun! Add an overlay for texture... */
#canvas::after {
  content: '';
  width: 550px; /* width of canvas + 25px for left and right borders */
  height: 650px; /* height of canvas + 25px for top and bottom borders */
  background-image: url("../images/canvas-overlay.png");
  position: absolute;
  top: -25px; /* allowing for the outside border of 25px wide */
  left: -25px; /* allowing for the outside border of 25px wide */
  opacity: 0.6;
}

/* Columns */
.left-side {
  width: 32%;
  height: 100%;
  display: inline-block;
  padding: relative;
  /*background: pink;*/
}
.center {
  width: 34%;
  height: 100%;
  display: inline-block;
  position: relative;
  /*background: purple;*/
}
.right-side {
  width: 32%;
  height: 100%;
  display: inline-block;
  position: relative;
  /*background: orange;*/
}


/* Graphics */
img {
  width: 150px;
  height: 300px;
  position: absolute;
}

/* Circles */
.blue-halfcircle-left {
  width: 150px;
  height: 300px;
  border-top-right-radius: 150px;
  border-bottom-right-radius: 150px;
  background-color: #4142B8;
}
.blue-halfcircle-right {
  width: 150px;
  height: 300px;
  border-top-left-radius: 150px;
  border-bottom-left-radius: 150px;
  background-color: #270187;
  position: absolute;
  right: 0;
  bottom: 0;
}
  /*.half-right.rotated {
    width: 87.5px;
    height: 175px;
    margin: 0px;
    position: relative;
    /* For Fun! To rotate an element: */
      /* -ms-transform: rotate(270deg); /* IE 9 */
   /*-webkit-transform: rotate(270deg); /* Safari 3-8 */
           /*transform: rotate(270deg);
  }*/
.white-circle {
  width: 175px;
  height: 175px;
  border-radius: 200px;
  background-color: #E6DDD4;
  top: 0;
  left: 0;
  right: 0;
  bottom: ;
  margin: auto;
}
.blue-circle {
  width: 175px;
  height: 175px;
  border-radius: 175px;
  background-color: #4142B8;
  margin: 40px auto;
}
.red-circle {
  width: 175px;
  height: 175px;
  border-radius: 175px;
  background-color: #A4272B;
  position: absolute;
  top: ;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}


/* Lines */
.line-small {
  width: 10px;
  height: 200px;
  background-color: #E6DDD4;
  position: absolute;
  top: 300px;
}
.line-large {
  width: 300px;
  height: 50px;
  background-color: #E6DDD4;
  position: absolute;
  top: 50%;
  left: 20%;
}

/* Text */
#text-container {
  width: 400px;
}
h1 {
  font-family: 'Fascinate Inline', cursive;
  margin-bottom: 0px;
}
p {
  font-family: 'Comfortaa', cursive;
  font-size: 125%;
  margin-top: 5px;
}
