@import url('https://fonts.googleapis.com/css?family=Comfortaa|Fascinate+Inline');

/* Page-Wide */
body {
  background: white;
  padding: 20px;
}

/* Canvas */
#canvas {
  width: 500px;
  height: 600px;
  background-color: black;
  border: 15px solid #E1DEDB;
  position: relative;
}
#canvas::after {
  content: '';
  width: 500px; /* width of canvas + 25px for left and right borders */
  height: 600px; /* height of canvas + 25px for top and bottom borders */
  background-image: url("../images/canvas-overlay.png");
  opacity: 0.5;

  position: absolute;
  top: 0; /* allowing for the outside border of 25px wide */
  right: ;
  left: 0; /* allowing for the outside border of 25px wide */
  bottom: ;
}

/* Let's divide this canvas into 3 columns */
.column-left {
  width: 30%;
  height: 100%;
  float: left;

  position: relative;
}
.column-center {
  width: 40%;
  height: 100%;
  float: left;

  position: relative;
}
.column-right {
  width: 30%;
  height: 100%;
  float: left;

  position: relative;
}

/* Let's give that central column 3 rows */
.row {
  width: 100%;
  height: 33.3%;
}

/* Images */
img {
  width: 125px;
  height: 250px;
}
img.bottom {
  position: absolute;
  top: ;
  right: ;
  left: 10px;
  bottom: 25px;
}
img.top {
  position: absolute;
  top: 25px;
  right: 0;
  left: ;
  bottom: ;
}

/* Half-Circles */
.half-circle {
  width: 125px;
  height: 250px;
  border-top-right-radius: 125px;
  border-bottom-right-radius: 125px;
}
  .column-left .half-circle {
    background-color: #4244B4;

    position: absolute;
    top: 25px;
    right: ;
    left: 10px;
    bottom: ;
  }
  .column-right .half-circle {
      background-color: #270187;

      position: absolute;
      top: ;
      right: 25px;
      bottom: 25px;
      left: ;

      /* For Fun! To rotate an element: */
        -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Safari 3-8 */
            transform: rotate(180deg);
  }

/* Full Circles */
.circle {
  width: 90%;
  height: 90%;
  border-radius: 90%;
  display: inline-block;
  margin: 5%;
  background-color: #E1DEDB;
}
.circle.red {
  background-color: #A3262A;
}
.circle.blue {
  height: 80%;
  background-color: #4244B4;
  display: inline-block;
  margin-top: 10%;
  position: relative;
  z-index: 0;
}
  .circle.blue>.half-circle {
    width: 100%;
    height: 50%;
    border-radius: 0;
    border-bottom-right-radius: 125px;
    border-bottom-left-radius: 125px;
    background-color: #270187;

    position: absolute;
    top: ;
    right: ;
    left: ;
    bottom: 0;
  }

/* Line Shapes */
.vertical-rectangle {
  width: 12px;
  height: 200px;
  background-color: #E1DEDB;
}
  .column-left .vertical-rectangle {
    margin-top: 10em;
    float: right;
  }
  .column-right .vertical-rectangle {
    margin-top: 25px;
    float: left;
  }
.horizontal-rectangle {
  width: 350px;
  height: 30px;
  background-color: #E1DEDB;

  position: absolute;
  top: 275px;
  right: ;
  left: 90px;
  bottom: ;
  z-index: 1;
}

/* Text */
#text-container {
  width: 600px;
}
h1 {
  font-family: 'Fascinate Inline', cursive;
  margin-bottom: 0px;
}
p {
  font-family: 'Comfortaa', cursive;
  margin-top: 5px;
}
p:first-of-type {
  font-size: 125%;
  text-transform: uppercase;
}
